/*
 * Leaflet.Marker.InfoCircle.css 
 * (see https://github.com/MarcusOettinger/Leaflet.Marker.InfoCircle)
 * css styling of the markers.
 * M. Oettinger 2022
 */

/* class circle is set to all markers automagically
 */
.circle {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    border-style: solid;
    font-size: 16px;
    font-weight: bold;
  }
  
/* use your own classes (e.g. circle1, ...) for further
 * styling of markers
 */
  .circle.circle1 {
    background: rgba(0, 57, 128, 0.2);
    border-color: #3388FF;
    color: white;
  }
  
   .circle.circle2 {
    background: rgba(0, 57, 128, 0.2);
    border-color: green;
    color: yellow;
  }

  .circle.circle3 {
    background-color: rgba(0, 57, 128, 0.2);
    background-image: url('Donald-Duck-2-icon.png');
    background-position: center;
    background-repeat: no-repeat;
    border-color: green;
    border-radius: 0;
    color: yellow;
  }
